<% layout('layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">
            Edit <%= campground.title %>
        </h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate
                class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        value="<%= campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a title.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]"
                        value="<%= campground.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a location.
                    </div>
                </div>

                <label class="form-label" for="price">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" id="price" name="campground[price]"
                        aria-label="Amount (to the nearest dollar)" value="<%= campground.price %>" required>
                    <span class="input-group-text">Per Night</span>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a price per night.
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required> <%= campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a description.
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="form-label" for="image">Images</div>
                    <div class="col">
                        <input class='form-control' type="file" name="image" id="image" multiple>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please upload an image.
                        </div>
                    </div>
                    <% if(campground.images.length> 0){ %>
                        <div class="col-md-auto">
                            <p class="">
                                <button class="btn btn-outline-danger" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseDelete" aria-expanded="false"
                                    aria-controls="collapseDelete">
                                    Delete Images
                                </button>
                            </p>
                        </div>
                        <div class="collapse" id="collapseDelete">
                            <div class="row">
                                <% campground.images.forEach(function(img, i){ %>
                                    <div class="col">
                                        <!-- <div class="square-wrap">
                                            <img src="" class="square-images rounded-circle" alt="">
                                        </div> -->
                                        <div class="form-check " style="position:relative;">
                                            <input class="imagesDelete" type="checkbox" value="<%=img.filename%>"
                                                id="imgDeleteCheck-<%= i %>" name="deleteImages[]">
                                            <label class="check" for="imgDeleteCheck-<%= i %>">
                                                <img src="<%= img.thumbnail %>" class="delete-images-select" alt="">
                                            </label>
                                        </div>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>

                        <% } %>

                </div>
                <div class=" d-flex justify-content-between mb-5">
                    <a class=" btn btn-dark" href="/campgrounds/<%= campground._id %>">Back</a>
                    <button class=" btn btn-success" type="submit">Update
                        Campground</button>
                </div>
            </form>
        </div>
    </div>